:root {
  --text-font-family: "Roboto Mono", monospace;
  --headers-font-family: "Rubik Mono One", sans-serif;
}

body {
  display: flex;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  padding: 2rem;
  line-height: 1.6rem;
}
h1,
h2,
p {
  line-height: 2rem;
}
.container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "title des des des"
    "title des des des"
    "title des des des"
    "title des des des"
    "title des des des"
    "footer footer footer footer";
}

.titel {
  grid-area: title;
  text-align: justify;
  font-family: var(--headers-font-family);
  font-weight: 900;
  font-size: 1rem;
}
.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  grid-area: des;
  padding: 2rem;
  font-family: var(--text-font-family);
  line-height: 1rem;
}

.bnt-box {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: footer;
}

.titel-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem;
}
